* {
    font-family: 'segoe ui';
}
/*Gradasi BG*/
.form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9%;
    background-color: white;
    width: 500px;
    padding: 30px 50px 30px 50px;
    border-radius: 20px;
}
.form h1 {
    text-align: center;
    margin-bottom: -1px;
    font-weight: 1000;
}
.form h3 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 12px;
}
.form input {
    margin-bottom: 10px;
    border-radius: 10px;
}
.form button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 300px;
    text-align: center;
    border-radius: 30px;
}
.form a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 300px;
    text-align: center;
    border-radius: 30px;
}